.page {
  font-family: "Inter" Arial, sans-serif;
  min-width: 1100px;
  max-width: 2000px;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

nav.logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 30px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter" Arial sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter" Arial, sans-serif;
}

.header__descripition {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif" "Times New Roman" sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 75px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  font-family: "Noto Serif" "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  min-width: 646px;
  max-width: 568px;
  top: 124px;
  right: 5px;
  margin-left: auto;
  position: absolute;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 480;
  height: 273px;
}

.recipes__title {
  max-width: 500px;
  font-family: "Inter" Arial, sans-serif;
  font-weight: 400px;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin: 100px 80px 24px;
}

.recipes__subtitle {
  max-width: 438px;
  color: white;
  margin: 24px 80px 80px;
  font-family: "Noto Serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
